<h1><center>Project 2</center></h1>

### Daniel lampert

## Linux Commands Used

1. Command to bring up cluster
    - docker-compose up -d
2. Command to create the kafka topic 
    - docker-compose exec mids bash -c "kafkacat -C -b kafka:29092 -t assessments -o beginning -e"
3. Command to publish the assessments json data to the kafka topic using kafkacat
    - docker-compose exec mids bash -c "cat /w205/project-2-dtascidan/assessment-attempts-20180128-121051-nested.json | jq '.[]' -c | kafkacat -P -b kafka:29092 -t assessments"
4. Command to shutdown the cluster
    - docker-compose down

### Import needed libraries

In [2]:
import json
from pyspark.sql import Row

### Create data frame by subscribing to Kafka Topic

In [3]:
#Read in data
raw_assessments = spark.read.format("kafka").option("kafka.bootstrap.servers", "kafka:29092").option("subscribe","assessments").option("startingOffsets", "earliest").option("endingOffsets", "latest").load()

### Cache data frame

In [4]:
raw_assessments.cache()

DataFrame[key: binary, value: binary, topic: string, partition: int, offset: bigint, timestamp: timestamp, timestampType: int]

### Convert json data to string and store as a new data frame

In [5]:
assessments = raw_assessments.select(raw_assessments.value.cast('string'))

### Extract assessments from data frame

In [6]:
extracted_assessments = assessments.rdd.map(lambda x: Row(**json.loads(x.value))).toDF()

### Write to HDFS

In [7]:
extracted_assessments.write.mode('overwrite').parquet("/tmp/extracted_assessments")

### Save as temporary table

In [8]:
extracted_assessments.registerTempTable('assessments')

In [9]:
#Select keen_id from temporary table assessments and display it with .show()
spark.sql("select keen_id from assessments limit 10").show()

+--------------------+
|             keen_id|
+--------------------+
|5a6745820eb8ab000...|
|5a674541ab6b0a000...|
|5a67999d3ed3e3000...|
|5a6799694fc7c7000...|
|5a6791e824fccd000...|
|5a67a0b6852c2a000...|
|5a67b627cc80e6000...|
|5a67ac8cb0a5f4000...|
|5a67a9ba060087000...|
|5a67ac54411aed000...|
+--------------------+

In [10]:
#Display timestamp and completeness of questions
spark.sql("select keen_timestamp, sequences.questions[0].user_incomplete from assessments limit 10").show()

+------------------+-------------------------------------------------------+
|    keen_timestamp|sequences[questions] AS `questions`[0][user_incomplete]|
+------------------+-------------------------------------------------------+
| 1516717442.735266|                                                   true|
| 1516717377.639827|                                                  false|
| 1516738973.653394|                                                  false|
|1516738921.1137421|                                                  false|
| 1516737000.212122|                                                  false|
| 1516740790.309757|                                                  false|
|1516746279.3801291|                                                  false|
| 1516743820.305464|                                                  false|
|  1516743098.56811|                                                  false|
| 1516743764.813107|                                                  false|
+------------------+-------------------------------------------------------+

### Unroll part of the json data

In [11]:
def my_lambda_sequences_id(x):
    raw_dict = json.loads(x.value)
    my_dict = {"keen_id" : raw_dict["keen_id"], "sequences_id" : raw_dict["sequences"]["id"]}
    return Row(**my_dict)
my_sequences = assessments.rdd.map(my_lambda_sequences_id).toDF()

### Write my_sequences to HDFS

In [12]:
my_sequences.write.mode('overwrite').parquet("/tmp/my_sequences")

### Save as temporary table

In [13]:
my_sequences.registerTempTable('sequences')

### Show some of the unrolled data

In [14]:
spark.sql("select sequences_id from sequences limit 10").show()

+--------------------+
|        sequences_id|
+--------------------+
|5b28a462-7a3b-42e...|
|5b28a462-7a3b-42e...|
|b370a3aa-bf9e-4c1...|
|b370a3aa-bf9e-4c1...|
|04a192c1-4f5c-4ac...|
|e7110aed-0d08-4cb...|
|5251db24-2a6e-424...|
|066b5326-e547-4da...|
|8ac691f8-8c1a-403...|
|066b5326-e547-4da...|
+--------------------+

In [15]:
spark.sql("select a.keen_id, a.keen_timestamp, s.sequences_id from assessments a join sequences s on a.keen_id = s.keen_id limit 10").show()

+--------------------+------------------+--------------------+
|             keen_id|    keen_timestamp|        sequences_id|
+--------------------+------------------+--------------------+
|5a17a67efa1257000...|1511499390.3836269|8ac691f8-8c1a-403...|
|5a26ee9cbf5ce1000...|1512500892.4166169|9bd87823-4508-4e0...|
|5a29dcac74b662000...|1512692908.8423469|e7110aed-0d08-4cb...|
|5a2fdab0eabeda000...|1513085616.2275269|cd800e92-afc3-447...|
|5a30105020e9d4000...|1513099344.8624721|8ac691f8-8c1a-403...|
|5a3a6fc3f0a100000...| 1513779139.354213|e7110aed-0d08-4cb...|
|5a4e17fe08a892000...|1515067390.1336551|9abd5b51-6bd8-11e...|
|5a4f3c69cc6444000...| 1515142249.858722|083844c5-772f-48d...|
|5a51b21bd0480b000...| 1515303451.773272|e7110aed-0d08-4cb...|
|5a575a85329e1a000...| 1515674245.348099|25ca21fe-4dbb-446...|
+--------------------+------------------+--------------------+

### Unroll more json data

In [16]:
def my_lambda_questions(x):
    raw_dict = json.loads(x.value)
    my_list = []
    my_count = 0
    for l in raw_dict["sequences"]["questions"]:
        my_count += 1
        my_dict = {"keen_id" : raw_dict["keen_id"], "my_count" : my_count, "id" : l["id"]}
        my_list.append(Row(**my_dict))
    return my_list

my_questions = assessments.rdd.flatMap(my_lambda_questions).toDF()

my_questions.registerTempTable('questions')

spark.sql("select id, my_count from questions limit 10").show()

spark.sql("select q.keen_id, a.keen_timestamp, q.id from assessments a join questions q on a.keen_id = q.keen_id limit 10").show()

+--------------------+--------+
|                  id|my_count|
+--------------------+--------+
|7a2ed6d3-f492-49b...|       1|
|bbed4358-999d-446...|       2|
|e6ad8644-96b1-461...|       3|
|95194331-ac43-454...|       4|
|95194331-ac43-454...|       1|
|bbed4358-999d-446...|       2|
|e6ad8644-96b1-461...|       3|
|7a2ed6d3-f492-49b...|       4|
|b9ff2e88-cf9d-4bd...|       1|
|bec23e7b-4870-49f...|       2|
+--------------------+--------+

+--------------------+------------------+--------------------+
|             keen_id|    keen_timestamp|                  id|
+--------------------+------------------+--------------------+
|5a17a67efa1257000...|1511499390.3836269|803fc93f-7eb2-412...|
|5a17a67efa1257000...|1511499390.3836269|f3cb88cc-5b79-41b...|
|5a17a67efa1257000...|1511499390.3836269|32fe7d8d-6d89-4db...|
|5a17a67efa1257000...|1511499390.3836269|5c34cf19-8cfd-4f5...|
|5a26ee9cbf5ce1000...|1512500892.4166169|0603e6f4-c3f9-4c2...|
|5a26ee9cbf5ce1000...|1512500892.4166169|26a06b88-2758-45b...|
|5a26ee9cbf5ce1000...|1512500892.4166169|25b6effe-79b0-4c4...|
|5a26ee9cbf5ce1000...|1512500892.4166169|6de03a9b-2a78-46b...|
|5a26ee9cbf5ce1000...|1512500892.4166169|aaf39991-fa83-470...|
|5a26ee9cbf5ce1000...|1512500892.4166169|aab2e817-73dc-4ff...|
+--------------------+------------------+--------------------+

### Write my_questions to HDFS

In [17]:
my_questions.write.mode('overwrite').parquet("/tmp/my_questions")

### Unroll json data

In [18]:
def my_lambda_correct_total(x):
    
    raw_dict = json.loads(x.value)
    my_list = []
    
    if "sequences" in raw_dict:
        
        if "counts" in raw_dict["sequences"]:
            
            if "correct" in raw_dict["sequences"]["counts"] and "total" in raw_dict["sequences"]["counts"]:
                    
                my_dict = {"correct": raw_dict["sequences"]["counts"]["correct"], 
                           "total": raw_dict["sequences"]["counts"]["total"]}
                my_list.append(Row(**my_dict))
    
    return my_list

my_correct_total = assessments.rdd.flatMap(my_lambda_correct_total).toDF()

my_correct_total.registerTempTable('ct')

spark.sql("select * from ct limit 10").show()

spark.sql("select correct / total as score from ct limit 10").show()

spark.sql("select avg(correct / total)*100 as avg_score from ct limit 10").show()

spark.sql("select stddev(correct / total) as standard_deviation from ct limit 10").show()

+-------+-----+
|correct|total|
+-------+-----+
|      2|    4|
|      1|    4|
|      3|    4|
|      2|    4|
|      3|    4|
|      5|    5|
|      1|    1|
|      5|    5|
|      4|    4|
|      0|    5|
+-------+-----+

+-----+
|score|
+-----+
|  0.5|
| 0.25|
| 0.75|
|  0.5|
| 0.75|
|  1.0|
|  1.0|
|  1.0|
|  1.0|
|  0.0|
+-----+

+-----------------+
|        avg_score|
+-----------------+
|62.65699745547047|
+-----------------+

+-------------------+
| standard_deviation|
+-------------------+
|0.31086692286170553|
+-------------------+

### Write to HDFS

In [19]:
my_correct_total.write.mode('overwrite').parquet("/tmp/my_correct_total")

## Business Questions

### 1. What are the 3 most common exams?

In [20]:
com_exams = spark.sql("select exam_name, COUNT(exam_name) as count_exam FROM assessments GROUP BY exam_name ORDER BY count_exam DESC limit 3")
com_exams.show()

+--------------------+----------+
|           exam_name|count_exam|
+--------------------+----------+
|        Learning Git|       394|
|Introduction to P...|       162|
|Introduction to J...|       158|
+--------------------+----------+

### 3 Most popular classes
1. Learning Git
2. Introduction to Python
3. Introduction to Java

### 2. What are the 3 least popular exams?

In [21]:
rare_exams = spark.sql("select exam_name, COUNT(exam_name) as count_exam FROM assessments GROUP BY exam_name ORDER BY count_exam ASC limit 3")
rare_exams.show()

+--------------------+----------+
|           exam_name|count_exam|
+--------------------+----------+
|Nulls, Three-valu...|         1|
|Learning to Visua...|         1|
|Native Web Apps f...|         1|
+--------------------+----------+

### 3. What are the three most popular start hours for exams?

In [22]:
spark.sql("SELECT HOUR(started_at) as start_hour FROM assessments").registerTempTable('start_hour')
spark.sql("SELECT COUNT(start_hour) as count_start, start_hour FROM start_hour GROUP BY start_hour ORDER BY count_start DESC limit 3").show()

+-----------+----------+
|count_start|start_hour|
+-----------+----------+
|        224|        14|
|        217|        13|
|        211|        15|
+-----------+----------+

### The three most common start hours are 
1. 2:00pm
2. 1:00pm
3. 3:00pm

### 4. What is the breakdown of passing to failing grades?

In [25]:
spark.sql("SELECT correct/total as score FROM ct").registerTempTable('sc')
spark.sql("SELECT (SELECT COUNT(score) FROM sc WHERE score < 0.70)/COUNT(*) FROM sc").show()

+-------------------------------------------------------------+
|(CAST(scalarsubquery() AS DOUBLE) / CAST(count(1) AS DOUBLE))|
+-------------------------------------------------------------+
|                                           0.4983206106870229|
+-------------------------------------------------------------+

Almost 50% of students did not receive a passing grade!